-- Monitoreo pre-pico (ejecutar en Supabase SQL Editor)
-- Objetivo: medir salud de DB, volumen de productos y estado de tiendas/publicación.

-- 1) Conteos base
select
  (select count(*) from public.productos) as productos_total,
  (select count(*) from public.productos where activo = true) as productos_activos,
  (select count(*) from public.productos where activo = false) as productos_pausados,
  (select count(*) from public.tiendas) as tiendas_total,
  (select count(*) from public.tiendas where coalesce(bloqueado, false) = false) as tiendas_no_bloqueadas;

-- 2) Visibilidad pública real (según reglas actuales)
select
  count(*) as productos_visibles_publico
from public.productos p
join public.tiendas t on t.id = p.tienda_id
where p.activo = true
  and p.aprobacion_publica = 'aprobado'
  and t.aprobacion_estado = 'aprobado'
  and coalesce(t.bloqueado, false) = false
  and t.membresia_hasta is not null
  and t.membresia_hasta >= current_date;

-- 3) Top estados/ciudades con más tiendas (carga para "cerca de mi zona")
select
  coalesce(estado, 'SIN_ESTADO') as estado,
  coalesce(ciudad, 'SIN_CIUDAD') as ciudad,
  count(*) as tiendas
from public.tiendas
group by 1, 2
order by tiendas desc
limit 30;

-- 4) Tamaño por bucket de Storage (usa metadatos de storage.objects)
select
  bucket_id,
  round(sum((metadata->>'size')::bigint) / 1024.0 / 1024.0, 2) as total_mb
from storage.objects
group by bucket_id
order by total_mb desc;

-- 5) Objetos pesados en Storage (ej. fotos > 1MB)
select
  bucket_id,
  name,
  round((metadata->>'size')::bigint / 1024.0 / 1024.0, 2) as size_mb,
  created_at
from storage.objects
where (metadata->>'size')::bigint >= 1024 * 1024
order by (metadata->>'size')::bigint desc
limit 100;

-- 6) Tamaño de tablas clave
select
  schemaname,
  relname as tabla,
  pg_size_pretty(pg_total_relation_size(schemaname || '.' || relname)) as total_size
from pg_stat_user_tables
where schemaname = 'public'
  and relname in ('productos', 'tiendas', 'historial_contactos_producto', 'contactos_productos')
order by pg_total_relation_size(schemaname || '.' || relname) desc;

-- 7) Índices de productos y tiendas (verifica que sigan presentes)
select
  schemaname,
  tablename,
  indexname
from pg_indexes
where schemaname = 'public'
  and tablename in ('productos', 'tiendas')
order by tablename, indexname;

