-- Activar RLS en tablas core del marketplace.
-- Las políticas deben existir (ver supabase-aprobacion-contenido.sql). Ejecutar en SQL Editor.

ALTER TABLE public.productos ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.tiendas ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.talleres ENABLE ROW LEVEL SECURITY;
