-- Datos sintéticos para pruebas de escala (PREPROD / STAGING recomendado)
-- ADVERTENCIA: Inserta productos de prueba. No ejecutar en producción sin ajustar.
--
-- Pasos:
-- 1) Reemplaza TIENDA_ID_OBJETIVO por el UUID real de una tienda de pruebas.
-- 2) Ajusta CANTIDAD_PRODUCTOS.
-- 3) Ejecuta el bloque DO.

do $$
declare
  TIENDA_ID_OBJETIVO uuid := '00000000-0000-0000-0000-000000000000';
  CANTIDAD_PRODUCTOS integer := 5000;
  i integer;
begin
  if TIENDA_ID_OBJETIVO = '00000000-0000-0000-0000-000000000000'::uuid then
    raise exception 'Debes reemplazar TIENDA_ID_OBJETIVO por una tienda real de pruebas.';
  end if;

  for i in 1..CANTIDAD_PRODUCTOS loop
  end loop;
end $$;

-- Consulta rápida de verificación
select
  count(*) as total_test_productos
from public.productos
where nombre like 'TEST PRODUCTO %';

-- Limpieza (descomentar solo cuando quieras borrar la data sintética)
-- delete from public.productos where nombre like 'TEST PRODUCTO %';

