-- =============================================================================
-- Seguridad: rol administrador solo en app_metadata (raw_app_meta_data)
-- =============================================================================
-- PROBLEMA: raw_user_meta_data (user_metadata) puede ser modificado por el
-- cliente con supabase.auth.updateUser({ data: { role: 'admin' } }), lo que
-- permitía escalada de privilegios si las RPC comprobaban ese campo.
--
-- PASOS (en orden, en Supabase → SQL Editor):
-- 1) Ejecutar este archivo (migra admins existentes y actualiza is_admin).
-- 2) Volver a ejecutar el script completo supabase-admin-panel.sql del repo
--    (las funciones admin_* deben comprobar raw_app_meta_data).
-- 3) Volver a ejecutar supabase-admin-eliminar-usuario.sql si lo usas.
--
-- Después: los admins deben existir solo con role en app_metadata. En el panel
-- de Supabase → Authentication → Users → usuario → edita “App Metadata”
-- o usa UPDATE como en supabase-admin-panel.sql (comentario superior).
-- =============================================================================

-- Admins que estaban solo en user_metadata → copiar a app_metadata y quitar del user_metadata
UPDATE auth.users
SET
  raw_app_meta_data = coalesce(raw_app_meta_data, '{}'::jsonb) || jsonb_build_object('role', 'admin'),
  raw_user_meta_data = coalesce(raw_user_meta_data, '{}'::jsonb) - 'role'
WHERE coalesce(raw_user_meta_data ->> 'role', '') = 'admin';

-- is_admin() usado por triggers y políticas (supabase-aprobacion-contenido.sql)
-- Nota: en algunos entornos `LANGUAGE sql` antes de `AS` provoca "no language specified";
-- plpgsql + LANGUAGE al final es la forma más compatible en el SQL Editor de Supabase.
CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS boolean
STABLE
SECURITY DEFINER
SET search_path = public, auth
AS $func$
BEGIN
  RETURN EXISTS (
    SELECT 1
    FROM auth.users u
    WHERE u.id = auth.uid()
      AND coalesce(u.raw_app_meta_data ->> 'role', '') = 'admin'
  );
END;
$func$
LANGUAGE plpgsql;
