-- Corrige alertas de Supabase Advisor: "RLS Disabled in Public".
--
-- Ejecutar en Supabase -> SQL Editor.
-- Este script es tolerante: si una tabla del Advisor ya no existe en la base,
-- la omite y sigue con las demas.

create or replace function public.is_admin()
returns boolean
stable
security definer
set search_path = public, auth
as $$
begin
  return exists (
    select 1
    from auth.users u
    where u.id = auth.uid()
      and coalesce(u.raw_app_meta_data ->> 'role', '') = 'admin'
  );
end;
$$ language plpgsql;

-- Catalogos publicos: lectura publica, escritura solo admin.
do $$
begin
  if to_regclass('public.categorias') is not null then
    alter table public.categorias enable row level security;

    drop policy if exists "Publico lee categorias" on public.categorias;
    drop policy if exists "Admin gestiona categorias" on public.categorias;
    drop policy if exists "Admin inserta categorias" on public.categorias;
    drop policy if exists "Admin actualiza categorias" on public.categorias;
    drop policy if exists "Admin elimina categorias" on public.categorias;

    create policy "Publico lee categorias"
      on public.categorias for select
      using (true);

    create policy "Admin inserta categorias"
      on public.categorias for insert
      with check (public.is_admin());

    create policy "Admin actualiza categorias"
      on public.categorias for update
      using (public.is_admin())
      with check (public.is_admin());

    create policy "Admin elimina categorias"
      on public.categorias for delete
      using (public.is_admin());
  end if;
end $$;

do $$
begin
  if to_regclass('public.productos_vehiculo') is not null then
    alter table public.productos_vehiculo enable row level security;

    drop policy if exists "Publico lee productos vehiculo" on public.productos_vehiculo;
    drop policy if exists "Admin gestiona productos vehiculo" on public.productos_vehiculo;
    drop policy if exists "Admin inserta productos vehiculo" on public.productos_vehiculo;
    drop policy if exists "Admin actualiza productos vehiculo" on public.productos_vehiculo;
    drop policy if exists "Admin elimina productos vehiculo" on public.productos_vehiculo;

    create policy "Publico lee productos vehiculo"
      on public.productos_vehiculo for select
      using (true);

    create policy "Admin inserta productos vehiculo"
      on public.productos_vehiculo for insert
      with check (public.is_admin());

    create policy "Admin actualiza productos vehiculo"
      on public.productos_vehiculo for update
      using (public.is_admin())
      with check (public.is_admin());

    create policy "Admin elimina productos vehiculo"
      on public.productos_vehiculo for delete
      using (public.is_admin());
  end if;
end $$;

do $$
begin
  if to_regclass('public.vehiculos_compatibles') is not null then
    alter table public.vehiculos_compatibles enable row level security;

    drop policy if exists "Publico lee vehiculos compatibles" on public.vehiculos_compatibles;
    drop policy if exists "Admin gestiona vehiculos compatibles" on public.vehiculos_compatibles;
    drop policy if exists "Admin inserta vehiculos compatibles" on public.vehiculos_compatibles;
    drop policy if exists "Admin actualiza vehiculos compatibles" on public.vehiculos_compatibles;
    drop policy if exists "Admin elimina vehiculos compatibles" on public.vehiculos_compatibles;

    create policy "Publico lee vehiculos compatibles"
      on public.vehiculos_compatibles for select
      using (true);

    create policy "Admin inserta vehiculos compatibles"
      on public.vehiculos_compatibles for insert
      with check (public.is_admin());

    create policy "Admin actualiza vehiculos compatibles"
      on public.vehiculos_compatibles for update
      using (public.is_admin())
      with check (public.is_admin());

    create policy "Admin elimina vehiculos compatibles"
      on public.vehiculos_compatibles for delete
      using (public.is_admin());
  end if;
end $$;

-- Contactos/metricas: cualquiera puede registrar eventos anonimos,
-- pero solo admin o el dueno del negocio puede leerlos.
do $$
begin
  if to_regclass('public.contactos_productos') is not null then
    alter table public.contactos_productos enable row level security;

    drop policy if exists "Publico registra contactos productos" on public.contactos_productos;
    drop policy if exists "Admin lee contactos productos" on public.contactos_productos;
    drop policy if exists "Vendedor lee contactos de sus productos" on public.contactos_productos;
    drop policy if exists "Admin elimina contactos productos" on public.contactos_productos;

    create policy "Publico registra contactos productos"
      on public.contactos_productos for insert
      with check (true);

    create policy "Admin lee contactos productos"
      on public.contactos_productos for select
      using (public.is_admin());

    create policy "Vendedor lee contactos de sus productos"
      on public.contactos_productos for select
      using (
        exists (
          select 1
          from public.productos p
          join public.tiendas t on t.id = p.tienda_id
          where p.id = contactos_productos.producto_id
            and t.user_id = auth.uid()
        )
      );

    create policy "Admin elimina contactos productos"
      on public.contactos_productos for delete
      using (public.is_admin());
  end if;
end $$;

do $$
begin
  if to_regclass('public.contactos_talleres') is not null then
    alter table public.contactos_talleres enable row level security;

    drop policy if exists "Publico registra contactos talleres" on public.contactos_talleres;
    drop policy if exists "Admin lee contactos talleres" on public.contactos_talleres;
    drop policy if exists "Taller lee sus contactos" on public.contactos_talleres;
    drop policy if exists "Admin elimina contactos talleres" on public.contactos_talleres;

    create policy "Publico registra contactos talleres"
      on public.contactos_talleres for insert
      with check (true);

    create policy "Admin lee contactos talleres"
      on public.contactos_talleres for select
      using (public.is_admin());

    create policy "Taller lee sus contactos"
      on public.contactos_talleres for select
      using (
        exists (
          select 1
          from public.talleres t
          where t.id = contactos_talleres.taller_id
            and t.user_id = auth.uid()
        )
      );

    create policy "Admin elimina contactos talleres"
      on public.contactos_talleres for delete
      using (public.is_admin());
  end if;
end $$;
