-- Funcion admin para aplicar un set de fotos a varios productos.
-- Ejecutar en Supabase -> SQL Editor antes de usar la accion masiva del panel.

create or replace function public.admin_set_productos_fotos_masivas(
  p_producto_ids uuid[],
  p_imagen_url text,
  p_imagenes_extra text[] default null
)
returns integer
language plpgsql
security definer
set search_path = public, auth
as $$
declare
  n integer := 0;
begin
  if not public.is_admin() then
    raise exception 'No autorizado';
  end if;

  if p_producto_ids is null or array_length(p_producto_ids, 1) is null then
    return 0;
  end if;

  if nullif(trim(coalesce(p_imagen_url, '')), '') is null then
    raise exception 'La foto principal es obligatoria';
  end if;

  update public.productos
  set
    imagen_url = trim(p_imagen_url),
    imagenes_extra = case
      when p_imagenes_extra is null or array_length(p_imagenes_extra, 1) is null then null
      else p_imagenes_extra
    end
  where id = any(p_producto_ids);

  get diagnostics n = row_count;
  return n;
end;
$$;

grant execute on function public.admin_set_productos_fotos_masivas(uuid[], text, text[]) to authenticated;
