-- FIX PRODUCCION: ocultar vendedores/talleres PENDIENTES en listas publicas
-- Ejecutar UNA VEZ en Supabase SQL Editor (proyecto en vivo).
-- No requiere actualizar la app Android.

ALTER TABLE public.tiendas ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.talleres ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.productos ENABLE ROW LEVEL SECURITY;

CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS boolean
STABLE
SECURITY DEFINER
SET search_path = public, auth
AS $func$
BEGIN
  RETURN EXISTS (
    SELECT 1
    FROM auth.users u
    WHERE u.id = auth.uid()
      AND coalesce(u.raw_app_meta_data ->> 'role', '') = 'admin'
  );
END;
$func$
LANGUAGE plpgsql;

CREATE OR REPLACE FUNCTION public.trg_tiendas_aprobacion()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, auth
AS $$
BEGIN
  IF TG_OP = 'INSERT' THEN
    IF NOT public.is_admin() THEN
      NEW.aprobacion_estado := 'pendiente';
      NEW.bloqueado := false;
      NEW.membresia_hasta := NULL;
    END IF;
  ELSIF TG_OP = 'UPDATE' THEN
    IF NOT public.is_admin() THEN
      NEW.aprobacion_estado := OLD.aprobacion_estado;
      NEW.membresia_hasta := OLD.membresia_hasta;
      NEW.bloqueado := OLD.bloqueado;
    END IF;
  END IF;

  IF NEW.aprobacion_estado = 'aprobado'
     AND NEW.membresia_hasta IS NULL
     AND COALESCE(NEW.bloqueado, false) = false THEN
    NEW.membresia_hasta := (CURRENT_DATE + interval '30 day')::date;
  END IF;

  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS tiendas_aprobacion_guard ON public.tiendas;
CREATE TRIGGER tiendas_aprobacion_guard
  BEFORE INSERT OR UPDATE ON public.tiendas
  FOR EACH ROW EXECUTE FUNCTION public.trg_tiendas_aprobacion();

CREATE OR REPLACE FUNCTION public.trg_talleres_aprobacion()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, auth
AS $$
BEGIN
  IF TG_OP = 'INSERT' THEN
    IF NOT public.is_admin() THEN
      NEW.aprobacion_estado := 'pendiente';
      NEW.bloqueado := false;
      NEW.membresia_hasta := NULL;
    END IF;
  ELSIF TG_OP = 'UPDATE' THEN
    IF NOT public.is_admin() THEN
      NEW.aprobacion_estado := OLD.aprobacion_estado;
      NEW.membresia_hasta := OLD.membresia_hasta;
      NEW.bloqueado := OLD.bloqueado;
    END IF;
  END IF;

  IF NEW.aprobacion_estado = 'aprobado'
     AND NEW.membresia_hasta IS NULL
     AND COALESCE(NEW.bloqueado, false) = false THEN
    NEW.membresia_hasta := (CURRENT_DATE + interval '30 day')::date;
  END IF;

  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS talleres_aprobacion_guard ON public.talleres;
CREATE TRIGGER talleres_aprobacion_guard
  BEFORE INSERT OR UPDATE ON public.talleres
  FOR EACH ROW EXECUTE FUNCTION public.trg_talleres_aprobacion();

DROP POLICY IF EXISTS "Publico puede leer tiendas para busqueda" ON public.tiendas;
DROP POLICY IF EXISTS "Permitir leer tiendas" ON public.tiendas;
DROP POLICY IF EXISTS "Publico ve tiendas con membresia activa" ON public.tiendas;
DROP POLICY IF EXISTS "Publico ve tiendas aprobadas con membresia" ON public.tiendas;
DROP POLICY IF EXISTS "Permitir leer talleres" ON public.talleres;
DROP POLICY IF EXISTS "Publico ve talleres con membresia activa" ON public.talleres;
DROP POLICY IF EXISTS "Publico puede leer productos para busqueda" ON public.productos;

DROP POLICY IF EXISTS "Usuario ve sus tiendas" ON public.tiendas;
CREATE POLICY "Usuario ve sus tiendas"
  ON public.tiendas FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Publico ve tiendas con membresia activa"
  ON public.tiendas FOR SELECT
  USING (
    aprobacion_estado = 'aprobado'
    AND coalesce(bloqueado, false) = false
    AND membresia_hasta IS NOT NULL
    AND membresia_hasta >= CURRENT_DATE
  );

DROP POLICY IF EXISTS "Admin ve todas las tiendas" ON public.tiendas;
CREATE POLICY "Admin ve todas las tiendas"
  ON public.tiendas FOR SELECT
  USING (public.is_admin());

CREATE POLICY "Permitir leer talleres"
  ON public.talleres FOR SELECT
  USING (
    auth.uid() = user_id
    OR (
      aprobacion_estado = 'aprobado'
      AND coalesce(bloqueado, false) = false
      AND membresia_hasta IS NOT NULL
      AND membresia_hasta >= CURRENT_DATE
    )
    OR public.is_admin()
  );

DROP POLICY IF EXISTS "Dueño ve sus productos" ON public.productos;
CREATE POLICY "Dueño ve sus productos"
  ON public.productos FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM public.tiendas t
      WHERE t.id = productos.tienda_id AND t.user_id = auth.uid()
    )
  );

DROP POLICY IF EXISTS "Publico ve productos aprobados" ON public.productos;
CREATE POLICY "Publico ve productos aprobados"
  ON public.productos FOR SELECT
  USING (
    activo = true
    AND aprobacion_publica = 'aprobado'
    AND EXISTS (
      SELECT 1 FROM public.tiendas t
      WHERE t.id = productos.tienda_id
        AND t.aprobacion_estado = 'aprobado'
        AND coalesce(t.bloqueado, false) = false
        AND t.membresia_hasta IS NOT NULL
        AND t.membresia_hasta >= CURRENT_DATE
    )
  );

DROP POLICY IF EXISTS "Admin ve todos los productos" ON public.productos;
CREATE POLICY "Admin ve todos los productos"
  ON public.productos FOR SELECT
  USING (public.is_admin());

CREATE OR REPLACE FUNCTION public.admin_set_tienda_aprobacion(p_tienda_id uuid, p_estado text)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, auth
AS $$
BEGIN
  IF NOT public.is_admin() THEN
    RAISE EXCEPTION 'No autorizado';
  END IF;
  IF p_estado NOT IN ('pendiente', 'aprobado', 'rechazado') THEN
    RAISE EXCEPTION 'Estado invalido';
  END IF;
  UPDATE public.tiendas
  SET
    aprobacion_estado = p_estado,
    membresia_hasta = CASE
      WHEN p_estado = 'aprobado'
        AND COALESCE(bloqueado, false) = false
        AND (membresia_hasta IS NULL OR membresia_hasta < CURRENT_DATE)
        THEN (CURRENT_DATE + interval '30 day')::date
      ELSE membresia_hasta
    END
  WHERE id = p_tienda_id;
END;
$$;

CREATE OR REPLACE FUNCTION public.admin_set_taller_aprobacion(p_taller_id uuid, p_estado text)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, auth
AS $$
BEGIN
  IF NOT public.is_admin() THEN
    RAISE EXCEPTION 'No autorizado';
  END IF;
  IF p_estado NOT IN ('pendiente', 'aprobado', 'rechazado') THEN
    RAISE EXCEPTION 'Estado invalido';
  END IF;
  UPDATE public.talleres
  SET
    aprobacion_estado = p_estado,
    membresia_hasta = CASE
      WHEN p_estado = 'aprobado'
        AND COALESCE(bloqueado, false) = false
        AND (membresia_hasta IS NULL OR membresia_hasta < CURRENT_DATE)
        THEN (CURRENT_DATE + interval '30 day')::date
      ELSE membresia_hasta
    END
  WHERE id = p_taller_id;
END;
$$;

GRANT EXECUTE ON FUNCTION public.admin_set_tienda_aprobacion(uuid, text) TO authenticated;
GRANT EXECUTE ON FUNCTION public.admin_set_taller_aprobacion(uuid, text) TO authenticated;

UPDATE public.tiendas
SET membresia_hasta = (CURRENT_DATE + interval '30 day')::date
WHERE aprobacion_estado = 'aprobado'
  AND COALESCE(bloqueado, false) = false
  AND membresia_hasta IS NULL;

UPDATE public.talleres
SET membresia_hasta = (CURRENT_DATE + interval '30 day')::date
WHERE aprobacion_estado = 'aprobado'
  AND COALESCE(bloqueado, false) = false
  AND membresia_hasta IS NULL;

NOTIFY pgrst, 'reload schema';
