-- Panel admin: nombre y telefono en listado de usuarios
-- Ejecutar en Supabase SQL Editor (una vez).

DROP FUNCTION IF EXISTS public.admin_list_usuarios(text, int);

CREATE OR REPLACE FUNCTION public.admin_list_usuarios(
  p_buscar text DEFAULT '',
  p_limit int DEFAULT 200
)
RETURNS TABLE (
  user_id uuid,
  email text,
  tipo_cuenta text,
  role text,
  nombre text,
  telefono text,
  creado_en timestamptz
)
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, auth
AS $$
DECLARE
  q text := trim(coalesce(p_buscar, ''));
  lim int := least(greatest(coalesce(p_limit, 200), 1), 500);
BEGIN
  IF NOT EXISTS (
    SELECT 1
    FROM auth.users me
    WHERE me.id = auth.uid()
      AND coalesce(me.raw_app_meta_data ->> 'role', '') = 'admin'
  ) THEN
    RAISE EXCEPTION 'No autorizado';
  END IF;

  RETURN QUERY
  SELECT
    u.id,
    u.email::text,
    coalesce(u.raw_user_meta_data ->> 'tipo_cuenta', null)::text,
    nullif(coalesce(u.raw_app_meta_data ->> 'role', u.raw_user_meta_data ->> 'role'), '')::text,
    nullif(
      trim(
        coalesce(
          nullif(t.nombre_comercial, ''),
          nullif(t.nombre, ''),
          nullif(tal.nombre_comercial, ''),
          nullif(tal.nombre, ''),
          nullif(u.raw_user_meta_data -> 'perfil_vendedor' ->> 'nombre_comercial', ''),
          nullif(u.raw_user_meta_data -> 'perfil_vendedor' ->> 'nombre', ''),
          nullif(u.raw_user_meta_data -> 'perfil_taller' ->> 'nombre_comercial', ''),
          nullif(u.raw_user_meta_data -> 'perfil_taller' ->> 'nombre', ''),
          nullif(u.raw_user_meta_data -> 'perfil_comprador' ->> 'nombre_comercial', ''),
          nullif(u.raw_user_meta_data -> 'perfil_comprador' ->> 'nombre', '')
        )
      ),
      ''
    )::text,
    nullif(
      trim(
        coalesce(
          nullif(t.telefono, ''),
          nullif(tal.telefono, ''),
          nullif(u.raw_user_meta_data -> 'perfil_vendedor' ->> 'telefono', ''),
          nullif(u.raw_user_meta_data -> 'perfil_taller' ->> 'telefono', ''),
          nullif(u.raw_user_meta_data -> 'perfil_comprador' ->> 'telefono', '')
        )
      ),
      ''
    )::text,
    u.created_at
  FROM auth.users u
  LEFT JOIN public.tiendas t ON t.user_id = u.id
  LEFT JOIN public.talleres tal ON tal.user_id = u.id
  WHERE q = ''
     OR u.email::text ILIKE '%' || q || '%'
     OR u.id::text ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data ->> 'tipo_cuenta', '') ILIKE '%' || q || '%'
     OR coalesce(t.nombre_comercial, '') ILIKE '%' || q || '%'
     OR coalesce(t.nombre, '') ILIKE '%' || q || '%'
     OR coalesce(tal.nombre_comercial, '') ILIKE '%' || q || '%'
     OR coalesce(tal.nombre, '') ILIKE '%' || q || '%'
     OR coalesce(t.telefono, '') ILIKE '%' || q || '%'
     OR coalesce(tal.telefono, '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_vendedor' ->> 'nombre', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_vendedor' ->> 'nombre_comercial', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_vendedor' ->> 'telefono', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_taller' ->> 'nombre', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_taller' ->> 'nombre_comercial', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_taller' ->> 'telefono', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_comprador' ->> 'nombre', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_comprador' ->> 'nombre_comercial', '') ILIKE '%' || q || '%'
     OR coalesce(u.raw_user_meta_data -> 'perfil_comprador' ->> 'telefono', '') ILIKE '%' || q || '%'
  ORDER BY u.created_at DESC
  LIMIT lim;
END;
$$;

GRANT EXECUTE ON FUNCTION public.admin_list_usuarios(text, int) TO authenticated;

NOTIFY pgrst, 'reload schema';
