-- Crea tiendas/talleres automáticamente desde auth.users.raw_user_meta_data.
-- Soluciona el caso donde Supabase requiere confirmación de email:
-- el usuario aparece en Auth/Usuarios, pero aún no existe la fila en public.tiendas/public.talleres.
--
-- Ejecutar en Supabase → SQL Editor → New query → Run.

-- Columnas usadas por el registro actual. Las dejamos aquí para que este script
-- sea seguro aunque falte alguna migración previa en la base de producción.
alter table public.tiendas
  add column if not exists user_id uuid references auth.users(id) on delete cascade,
  add column if not exists nombre_comercial text,
  add column if not exists vertical text default 'auto',
  add column if not exists rif text,
  add column if not exists estado text,
  add column if not exists ciudad text,
  add column if not exists telefono text,
  add column if not exists metodos_pago text[],
  add column if not exists politica_divulgacion_aceptada boolean not null default false,
  add column if not exists politica_divulgacion_version text,
  add column if not exists politica_divulgacion_aceptada_en timestamptz;

alter table public.talleres
  add column if not exists user_id uuid references auth.users(id) on delete cascade,
  add column if not exists nombre_comercial text,
  add column if not exists vertical text default 'auto',
  add column if not exists tipo_persona text,
  add column if not exists rif text,
  add column if not exists marca_vehiculo text,
  add column if not exists acerca_de text,
  add column if not exists estado text,
  add column if not exists ciudad text,
  add column if not exists telefono text,
  add column if not exists email text,
  add column if not exists metodos_pago text[],
  add column if not exists politica_divulgacion_aceptada boolean not null default false,
  add column if not exists politica_divulgacion_version text,
  add column if not exists politica_divulgacion_aceptada_en timestamptz;

create or replace function public.geomotor_jsonb_text_array(v jsonb)
returns text[]
language sql
immutable
as $$
  select case
    when jsonb_typeof(v) = 'array' then (
      select nullif(array_agg(trim(x)), array[]::text[])
      from jsonb_array_elements_text(v) as e(x)
      where trim(x) <> ''
    )
    else null
  end
$$;

create or replace function public.geomotor_numero_desde_json(v jsonb)
returns double precision
language sql
immutable
as $$
  select case
    when v is null or jsonb_typeof(v) = 'null' then null
    when trim(v #>> '{}') ~ '^-?[0-9]+([.,][0-9]+)?$'
      then replace(trim(v #>> '{}'), ',', '.')::double precision
    else null
  end
$$;

create or replace function public.geomotor_crear_negocio_desde_metadata(
  p_user_id uuid,
  p_email text,
  p_metadata jsonb,
  p_app_metadata jsonb default '{}'::jsonb
)
returns void
language plpgsql
security definer
set search_path = public, auth
as $$
declare
  tipo text := coalesce(p_metadata ->> 'tipo_cuenta', '');
  perfil jsonb;
  nombre text;
  nombre_comercial text;
  especialidades text[];
  providers text[];
begin
  if p_user_id is null then
    return;
  end if;

  -- No convertir cuentas creadas únicamente por OAuth/Google en negocios.
  -- El alta real de vendedores/talleres en Geomotor nace del formulario con email/clave,
  -- que deja el proveedor "email" en app_metadata.providers.
  providers := public.geomotor_jsonb_text_array(p_app_metadata -> 'providers');
  if providers is not null and 'email' <> all(providers) then
    return;
  end if;

  if tipo = 'vendedor' then
    perfil := p_metadata -> 'perfil_vendedor';
    if perfil is null or jsonb_typeof(perfil) <> 'object' then
      return;
    end if;

    if exists (select 1 from public.tiendas t where t.user_id = p_user_id) then
      return;
    end if;

    nombre := coalesce(nullif(trim(perfil ->> 'nombre'), ''), nullif(trim(perfil ->> 'nombre_comercial'), ''), 'Mi tienda');
    nombre_comercial := coalesce(nullif(trim(perfil ->> 'nombre_comercial'), ''), nullif(trim(perfil ->> 'nombre'), ''), 'Mi tienda');

    insert into public.tiendas (
      user_id,
      nombre,
      nombre_comercial,
      vertical,
      rif,
      estado,
      ciudad,
      telefono,
      latitud,
      longitud,
      metodos_pago,
      politica_divulgacion_aceptada,
      politica_divulgacion_version,
      politica_divulgacion_aceptada_en
    )
    values (
      p_user_id,
      nombre,
      nombre_comercial,
      case when perfil ->> 'vertical' = 'moto' then 'moto' else 'auto' end,
      nullif(trim(coalesce(perfil ->> 'rif', '')), ''),
      nullif(trim(coalesce(perfil ->> 'estado', '')), ''),
      nullif(trim(coalesce(perfil ->> 'ciudad', '')), ''),
      nullif(trim(coalesce(perfil ->> 'telefono', '')), ''),
      coalesce(public.geomotor_numero_desde_json(perfil -> 'latitud'), 0),
      coalesce(public.geomotor_numero_desde_json(perfil -> 'longitud'), 0),
      public.geomotor_jsonb_text_array(perfil -> 'metodos_pago'),
      coalesce((perfil ->> 'politica_divulgacion_aceptada')::boolean, false),
      nullif(trim(coalesce(perfil ->> 'politica_divulgacion_version', '')), ''),
      nullif(trim(coalesce(perfil ->> 'politica_divulgacion_aceptada_en', '')), '')::timestamptz
    );

    return;
  end if;

  if tipo = 'taller' then
    perfil := p_metadata -> 'perfil_taller';
    if perfil is null or jsonb_typeof(perfil) <> 'object' then
      return;
    end if;

    if exists (select 1 from public.talleres t where t.user_id = p_user_id) then
      return;
    end if;

    especialidades := public.geomotor_jsonb_text_array(perfil -> 'especialidad');
    if especialidades is null then
      especialidades := array[nullif(trim(coalesce(perfil ->> 'especialidad', '')), '')];
      especialidades := array_remove(especialidades, null);
    end if;
    if especialidades is null or array_length(especialidades, 1) is null then
      return;
    end if;

    nombre := coalesce(nullif(trim(perfil ->> 'nombre'), ''), nullif(trim(perfil ->> 'nombre_comercial'), ''), 'Mi taller');
    nombre_comercial := coalesce(nullif(trim(perfil ->> 'nombre_comercial'), ''), nullif(trim(perfil ->> 'nombre'), ''), 'Mi taller');

    insert into public.talleres (
      user_id,
      nombre,
      nombre_comercial,
      vertical,
      tipo_persona,
      rif,
      especialidad,
      marca_vehiculo,
      acerca_de,
      estado,
      ciudad,
      telefono,
      email,
      latitud,
      longitud,
      metodos_pago,
      politica_divulgacion_aceptada,
      politica_divulgacion_version,
      politica_divulgacion_aceptada_en
    )
    values (
      p_user_id,
      nombre,
      nombre_comercial,
      case when perfil ->> 'vertical' = 'moto' then 'moto' else 'auto' end,
      case when perfil ->> 'tipo_persona' = 'juridico' then 'juridico' else 'natural' end,
      nullif(trim(coalesce(perfil ->> 'rif', '')), ''),
      especialidades,
      nullif(trim(coalesce(perfil ->> 'marca_vehiculo', '')), ''),
      nullif(trim(coalesce(perfil ->> 'acerca_de', '')), ''),
      nullif(trim(coalesce(perfil ->> 'estado', '')), ''),
      nullif(trim(coalesce(perfil ->> 'ciudad', '')), ''),
      nullif(trim(coalesce(perfil ->> 'telefono', '')), ''),
      coalesce(nullif(trim(coalesce(perfil ->> 'email', '')), ''), p_email),
      coalesce(public.geomotor_numero_desde_json(perfil -> 'latitud'), 0),
      coalesce(public.geomotor_numero_desde_json(perfil -> 'longitud'), 0),
      public.geomotor_jsonb_text_array(perfil -> 'metodos_pago'),
      coalesce((perfil ->> 'politica_divulgacion_aceptada')::boolean, false),
      nullif(trim(coalesce(perfil ->> 'politica_divulgacion_version', '')), ''),
      nullif(trim(coalesce(perfil ->> 'politica_divulgacion_aceptada_en', '')), '')::timestamptz
    );
  end if;
end;
$$;

create or replace function public.geomotor_auth_user_negocio_trigger()
returns trigger
language plpgsql
security definer
set search_path = public, auth
as $$
begin
  perform public.geomotor_crear_negocio_desde_metadata(
    new.id,
    new.email::text,
    coalesce(new.raw_user_meta_data, '{}'::jsonb),
    coalesce(new.raw_app_meta_data, '{}'::jsonb)
  );
  return new;
end;
$$;

drop trigger if exists geomotor_auth_user_negocio_sync on auth.users;

create trigger geomotor_auth_user_negocio_sync
  after insert or update of raw_user_meta_data on auth.users
  for each row
  execute function public.geomotor_auth_user_negocio_trigger();

-- Backfill: crea la tienda/taller de usuarios ya registrados que quedaron pendientes.
select public.geomotor_crear_negocio_desde_metadata(
  u.id,
  u.email::text,
  coalesce(u.raw_user_meta_data, '{}'::jsonb),
  coalesce(u.raw_app_meta_data, '{}'::jsonb)
)
from auth.users u
where coalesce(u.raw_user_meta_data ->> 'tipo_cuenta', '') in ('vendedor', 'taller');
