-- Confirma en lote cuentas creadas desde el formulario de Geomotor.
--
-- Usar cuando Supabase Auth tiene confirmación de email activa y algunos usuarios
-- quedan bloqueados con "Email not confirmed!" aunque ya estén registrados en la app.
--
-- Seguridad:
-- - Solo toca usuarios con tipo_cuenta propio de Geomotor.
-- - Solo toca cuentas con provider "email".
-- - No confirma cuentas creadas únicamente por Google/OAuth.

-- 1) Vista previa: revisa qué cuentas se van a confirmar.
select
  id,
  email,
  created_at,
  email_confirmed_at,
  confirmed_at,
  raw_app_meta_data -> 'providers' as providers,
  raw_user_meta_data ->> 'tipo_cuenta' as tipo_cuenta
from auth.users
where email_confirmed_at is null
  and coalesce(raw_user_meta_data ->> 'tipo_cuenta', '') in ('vendedor', 'taller', 'comprador', 'usuario')
  and coalesce(raw_app_meta_data -> 'providers', '[]'::jsonb) ? 'email'
order by created_at desc;

-- 2) Confirmación: ejecuta esto después de revisar la vista previa.
update auth.users
set email_confirmed_at = coalesce(email_confirmed_at, now())
where email_confirmed_at is null
  and coalesce(raw_user_meta_data ->> 'tipo_cuenta', '') in ('vendedor', 'taller', 'comprador', 'usuario')
  and coalesce(raw_app_meta_data -> 'providers', '[]'::jsonb) ? 'email';

-- 3) Verificación rápida.
select
  id,
  email,
  email_confirmed_at,
  confirmed_at,
  raw_app_meta_data -> 'providers' as providers,
  raw_user_meta_data ->> 'tipo_cuenta' as tipo_cuenta
from auth.users
where coalesce(raw_user_meta_data ->> 'tipo_cuenta', '') in ('vendedor', 'taller', 'comprador', 'usuario')
order by created_at desc
limit 50;
