-- =============================================================================
-- Migración panel admin: listas con búsqueda (firma con argumentos)
-- =============================================================================
-- Si ves en la app: "Could not find the function admin_list_usuarios(p_buscar, p_limit)"
-- es porque en la base SIGUE la versión VIEJA sin parámetros, o el API no refrescó caché.
--
-- ORDEN:
-- 1) Ejecuta este archivo completo (los DROP).
-- 2) Ejecuta el archivo completo supabase-admin-panel.sql del repo (incluye CREATE nuevos + NOTIFY).
-- 3) Si ya ejecutaste el panel pero el error continúa, en SQL Editor ejecuta solo:
--    NOTIFY pgrst, 'reload schema';
-- 4) Comprueba en SQL:
--    SELECT p.proname, pg_get_function_identity_arguments(p.oid)
--    FROM pg_proc p
--    JOIN pg_namespace n ON n.oid = p.pronamespace
--    WHERE n.nspname = 'public'
--      AND p.proname IN ('admin_list_usuarios','admin_list_compradores');
--    Debe existir admin_list_usuarios(p_buscar text, p_limit integer).
-- =============================================================================

DROP FUNCTION IF EXISTS public.admin_list_usuarios();
DROP FUNCTION IF EXISTS public.admin_list_compradores();
