-- Ejecutar en Supabase: SQL Editor -> nueva consulta -> pegar -> Run.
-- Actualiza tienda_suspendida_por_impago, admin_list_tiendas_suspendidas_impago y admin_dashboard_counts.

-- Criterio unico: tienda aprobada sin visibilidad publica por impago (KPI + listado admin).
create or replace function public.tienda_suspendida_por_impago(
  p_aprobacion_estado text,
  p_bloqueado boolean,
  p_membresia_hasta date
)
returns boolean
language sql
stable
set search_path = public
as $$
  select coalesce(p_aprobacion_estado, 'aprobado') = 'aprobado'
    and (
      coalesce(p_bloqueado, false) = true
      or p_membresia_hasta is null
      or p_membresia_hasta < current_date
    );
$$;

grant execute on function public.tienda_suspendida_por_impago(text, boolean, date) to authenticated;

drop function if exists public.admin_list_tiendas_suspendidas_impago(int);

create or replace function public.admin_list_tiendas_suspendidas_impago(
  p_limit int default 500
)
returns table (
  id uuid,
  user_id uuid,
  nombre text,
  nombre_comercial text,
  rif text,
  telefono text,
  estado text,
  ciudad text,
  bloqueado boolean,
  aprobacion_estado text,
  created_at timestamptz,
  membresia_hasta date
)
language plpgsql
security definer
set search_path = public, auth
as $$
declare
  lim int := least(greatest(coalesce(p_limit, 500), 1), 2000);
begin
  if not exists (
    select 1
    from auth.users me
    where me.id = auth.uid()
      and coalesce(me.raw_app_meta_data ->> 'role', '') = 'admin'
  ) then
    raise exception 'No autorizado';
  end if;

  return query
  select
    t.id::uuid,
    t.user_id::uuid,
    t.nombre::text,
    t.nombre_comercial::text,
    t.rif::text,
    t.telefono::text,
    t.estado::text,
    t.ciudad::text,
    coalesce(t.bloqueado, false)::boolean,
    coalesce(t.aprobacion_estado, 'aprobado')::text,
    t.created_at::timestamptz,
    t.membresia_hasta::date
  from public.tiendas t
  where public.tienda_suspendida_por_impago(t.aprobacion_estado, t.bloqueado, t.membresia_hasta)
  order by t.created_at desc
  limit lim;
end;
$$;

grant execute on function public.admin_list_tiendas_suspendidas_impago(int) to authenticated;

-- KPIs del resumen sin cargar miles de filas al navegador
create or replace function public.admin_dashboard_counts()
returns json
language plpgsql
security definer
set search_path = public, auth
as $$
declare
  compradores_ct bigint;
begin
  if not exists (
    select 1
    from auth.users me
    where me.id = auth.uid()
      and coalesce(me.raw_app_meta_data ->> 'role', '') = 'admin'
  ) then
    raise exception 'No autorizado';
  end if;

  select count(*) into compradores_ct
  from auth.users u
  where (
    coalesce(u.raw_user_meta_data ->> 'tipo_cuenta', '') in ('comprador', 'usuario')
    or (u.raw_user_meta_data -> 'perfil_comprador') is not null
  );

  return json_build_object(
    'usuarios_total', (select count(*)::int from auth.users),
    'vendedores_total', (select count(*)::int from public.tiendas),
    'vendedores_suspendidos_impago', (
      select count(*)::int
      from public.tiendas t
      where public.tienda_suspendida_por_impago(t.aprobacion_estado, t.bloqueado, t.membresia_hasta)
    ),
    'talleres_total', (select count(*)::int from public.talleres),
    'compradores_total', compradores_ct::int,
    'productos_total', (select count(*)::int from public.productos),
    'productos_activos', (select count(*)::int from public.productos where coalesce(activo, false) = true),
    'productos_pausados', (select count(*)::int from public.productos where coalesce(activo, false) = false),
    'productos_auto', (select count(*)::int from public.productos where coalesce(vertical, 'auto') = 'auto'),
    'productos_moto', (select count(*)::int from public.productos where vertical = 'moto'),
    'tiendas_pendientes_aprobacion', (
      select count(*)::int from public.tiendas where coalesce(aprobacion_estado, 'aprobado') = 'pendiente'
    ),
    'talleres_pendientes_aprobacion', (
      select count(*)::int from public.talleres where coalesce(aprobacion_estado, 'aprobado') = 'pendiente'
    ),
    'productos_pendientes_web', (
      select count(*)::int from public.productos where coalesce(aprobacion_publica, 'aprobado') = 'pendiente'
    )
  );
end;
$$;

grant execute on function public.admin_dashboard_counts() to authenticated;

NOTIFY pgrst, 'reload schema';
