-- ======================================================================
-- AUDITORIA DE VISIBILIDAD DE PRODUCTOS
-- ======================================================================
-- Uso:
-- 1) Ejecutar bloque "Resumen por causa".
-- 2) Ejecutar bloque "Detalle de ocultos".
-- 3) Ejecutar bloque "Semaforo por ruta".
--
-- Rutas:
--   /       -> vertical auto
--   /motos  -> vertical moto
-- ======================================================================

-- ----------------------------------------------------------------------
-- RESUMEN POR CAUSA
-- ----------------------------------------------------------------------
with diagnostico as (
  select
    p.id as producto_id,
    p.nombre as producto,
    p.tienda_id,
    coalesce(p.vertical, 'auto') as vertical,
    p.activo,
    p.aprobacion_publica,
    t.nombre_comercial,
    t.aprobacion_estado,
    coalesce(t.bloqueado, false) as tienda_bloqueada,
    t.membresia_hasta,
    case
      when p.activo is distinct from true then 'producto_inactivo'
      when coalesce(p.aprobacion_publica, 'pendiente') <> 'aprobado' then 'producto_no_aprobado'
      when t.id is null then 'tienda_inexistente'
      when coalesce(t.aprobacion_estado, 'pendiente') <> 'aprobado' then 'tienda_no_aprobada'
      when coalesce(t.bloqueado, false) = true then 'tienda_bloqueada'
      when t.membresia_hasta is null then 'tienda_sin_membresia'
      when t.membresia_hasta < current_date then 'tienda_membresia_vencida'
      else 'visible_publico'
    end as estado_visibilidad
  from public.productos p
  left join public.tiendas t on t.id = p.tienda_id
)
select estado_visibilidad, count(*) as total
from diagnostico
group by estado_visibilidad
order by total desc;

-- ----------------------------------------------------------------------
-- DETALLE DE PRODUCTOS OCULTOS
-- ----------------------------------------------------------------------
with diagnostico as (
  select
    p.id as producto_id,
    p.nombre as producto,
    p.tienda_id,
    coalesce(p.vertical, 'auto') as vertical,
    p.categoria,
    p.marca,
    p.modelo,
    p.anio,
    p.activo,
    p.aprobacion_publica,
    t.nombre_comercial,
    t.aprobacion_estado,
    coalesce(t.bloqueado, false) as tienda_bloqueada,
    t.membresia_hasta,
    case
      when p.activo is distinct from true then 'producto_inactivo'
      when coalesce(p.aprobacion_publica, 'pendiente') <> 'aprobado' then 'producto_no_aprobado'
      when t.id is null then 'tienda_inexistente'
      when coalesce(t.aprobacion_estado, 'pendiente') <> 'aprobado' then 'tienda_no_aprobada'
      when coalesce(t.bloqueado, false) = true then 'tienda_bloqueada'
      when t.membresia_hasta is null then 'tienda_sin_membresia'
      when t.membresia_hasta < current_date then 'tienda_membresia_vencida'
      else 'visible_publico'
    end as estado_visibilidad
  from public.productos p
  left join public.tiendas t on t.id = p.tienda_id
)
select
  case when vertical = 'moto' then '/motos' else '/' end as ruta_web,
  *
from diagnostico
where estado_visibilidad <> 'visible_publico'
order by ruta_web, estado_visibilidad, producto;

-- ----------------------------------------------------------------------
-- SEMAFORO POR RUTA
-- ----------------------------------------------------------------------
with base as (
  select
    coalesce(p.vertical, 'auto') as vertical,
    case
      when p.activo is distinct from true then 'producto_inactivo'
      when coalesce(p.aprobacion_publica, 'pendiente') <> 'aprobado' then 'producto_no_aprobado'
      when t.id is null then 'tienda_inexistente'
      when coalesce(t.aprobacion_estado, 'pendiente') <> 'aprobado' then 'tienda_no_aprobada'
      when coalesce(t.bloqueado, false) = true then 'tienda_bloqueada'
      when t.membresia_hasta is null then 'tienda_sin_membresia'
      when t.membresia_hasta < current_date then 'tienda_membresia_vencida'
      else 'visible_publico'
    end as estado_visibilidad
  from public.productos p
  left join public.tiendas t on t.id = p.tienda_id
),
agg as (
  select
    case when vertical = 'moto' then '/motos' else '/' end as ruta_web,
    vertical,
    count(*) as total_productos,
    count(*) filter (where estado_visibilidad = 'visible_publico') as visibles_publico
  from base
  group by 1, 2
)
select
  ruta_web,
  vertical,
  total_productos,
  visibles_publico,
  (total_productos - visibles_publico) as ocultos,
  round((visibles_publico::numeric / nullif(total_productos, 0)) * 100, 2) as pct_visibles,
  case
    when total_productos = 0 then 'gris_sin_datos'
    when (visibles_publico::numeric / total_productos) >= 0.90 then 'verde'
    when (visibles_publico::numeric / total_productos) >= 0.60 then 'amarillo'
    else 'rojo'
  end as semaforo
from agg
order by ruta_web;
